@import "~@fortawesome/fontawesome-free/css/all.css";




.header-box
{
    background-color: #FFE9D0;
    height: 100px;
    border-radius: 12px;

}

.job-section{

/* border:1px solid red */
}


.jobs-cards{

    width: 40vw;
    /* border: 1px solid black; */
    border-radius: 10px; /* Rounded corners */
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* 3D shadow effect */
            overflow: hidden; /* Prevents children from overflowing */
}
.head-content{
    /* border: 1px solid black; */
}

.card-head{
    /* border: 1px solid black; */
}

.logo img {
    display: block;
     
    border-radius: 10px; /* Rounded corners */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* 3D shadow effect */
    transform: perspective(500px) rotateY(10deg); /* 3D rotation */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
}
.logo img:hover {
    transform: perspective(500px) rotateY(0deg) scale(1.1); /* Slightly increase size and reset rotation on hover */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Stronger shadow on hover */
}

.advertisement-box{
    border: 1px solid black;

}

.skills li{
    
    color: grey;
    margin-right: 15px;
}

.jobs-label
{
    border: 1px solid pink;
   
}


mat-spinner
{
    position: relative;
    left: 15vw;

}