<div class="container">
  <mat-card>
    <form [formGroup]="cvform"   (ngSubmit)="submit()">
      <div class="container information" formGroupName="personalinformation">
        <p>Personal Information</p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" />
          <mat-error>Please enter a valid name</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Number</mat-label>
          <input type="number" matInput formControlName="number" />
          <mat-error>Please enter a valid number</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" />
          <mat-error>Please enter a valid address</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
          <mat-error>Please enter a valid email address</mat-error>
        </mat-form-field>
      </div>

      <!-- Summary -->
      <div class="container summary">
        <p>Summary</p>
        <mat-form-field>
          <mat-label>Summary</mat-label>
          <textarea matInput placeholder="Please write your summary" formControlName="professionalSummary"></textarea>
        </mat-form-field>
      </div>

      <!-- Experience -->
      <div class="container experience">
        <p>Work Experience</p>
        <div formArrayName="experience">
          <div *ngFor="let item of experience.controls; let i = index" [formGroupName]="i">
            <mat-form-field>
              <mat-label>Job Title</mat-label>
              <input type="text" matInput formControlName="jobtitle" placeholder="Please enter your designation" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Company Name</mat-label>
              <input type="text" matInput formControlName="companyName" placeholder="Please enter your company name"/>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Location</mat-label>
              <input type="text" matInput formControlName="location" placeholder="Please enter your location"/>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Start Date</mat-label>
              <input type="date" matInput formControlName="startingDate"/>
            </mat-form-field>
            <mat-form-field>
              <mat-label>End Date</mat-label>
              <input type="date" matInput formControlName="endDate" />
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="deleteExperience(i)">Remove</button>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addExperience()">Add Experience</button>
      </div>

      <!-- Education -->
      <div class="container education">
        <p>Education</p>
        <div formArrayName="education">
          <div *ngFor="let item of education.controls; let i = index" [formGroupName]="i">
            <mat-form-field>
              <mat-label>Degree</mat-label>
              <input type="text" matInput formControlName="degree" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Field of Study</mat-label>
              <input type="text" matInput formControlName="fieldOfStudy" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Institution Name</mat-label>
              <input type="text" matInput formControlName="institutionName" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Location</mat-label>
              <input type="text" matInput formControlName="location" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Start Date</mat-label>
              <input type="date" matInput formControlName="startDate" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>End Date</mat-label>
              <input type="date" matInput formControlName="endDate" />
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="deleteEducation(i)">Remove</button>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addEducation()">Add Education</button>
      </div>

      <!-- Skills -->
      <div class="container skills">
        <p>Skills</p>
        <div formArrayName="skills">
          <div *ngFor="let item of skills.controls; let i = index">
            <mat-form-field>
              <mat-label>Skill</mat-label>
              <input type="text" matInput [formControlName]="i" />
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="removeSkill(i)">Remove</button>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addSkill()">Add Skill</button>
      </div>

      <!-- Certifications -->
      <div class="container certifications">
        <p>Certifications</p>
        <div formArrayName="certification">
          <div *ngFor="let item of certification.controls; let i = index">
            <mat-form-field>
              <mat-label>Certification</mat-label>
              <input type="text" matInput [formControlName]="i" />
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="removeCertification(i)">Remove</button>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addCertification()">Add Certification</button>
      </div>

      <!-- Projects -->
      <div class="container projects">
        <p>Projects</p>
        <div formArrayName="projects">
          <div *ngFor="let item of projects.controls; let i = index" [formGroupName]="i">
            <mat-form-field>
              <mat-label>Project Title</mat-label>
              <input type="text" matInput formControlName="projectTitle" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Technologies Used</mat-label>
              <input type="text" matInput formControlName="technologiesUsed" />
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="removeProject(i)">Remove</button>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addProject()">Add Project</button>
      </div>

      <!-- Publications -->
      <div class="container publications">
        <p>Publications</p>
        <div formArrayName="publication">
          <div *ngFor="let item of publication.controls; let i = index" [formGroupName]="i">
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input type="text" matInput formControlName="title" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Name of Publication</mat-label>
              <input type="text" matInput formControlName="nameofPublications" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input type="date" matInput formControlName="date" />
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="removePublication(i)">Remove</button>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addPublication()">Add Publication</button>
      </div>

      <!-- Languages -->
      <div class="container languages">
        <p>Languages</p>
        <div formArrayName="languages">
          <div *ngFor="let item of languages.controls; let i = index">
            <mat-form-field>
              <mat-label>Language</mat-label>
              <input type="text" matInput [formControlName]="i" />
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="removeLanguage(i)">Remove</button>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addLanguage()">Add Language</button>
      </div>

      <!-- Submit -->
      <button mat-raised-button color="primary"  >Submit</button>
    </form>
  </mat-card>
</div>
