<div class="container d-flex mt-5">
  <div class="box-1 ">
    <h1>info<strong style="color: rgb(88, 83, 83);">edge</strong></h1>
  </div>
  <div class="box-2">
    All trademarks are the property of their respective owners
All rights reserved © 2024 Info Edge (India) Ltd.
  </div>
  <div class="box-3 ms-3">
    Our businesses
  </div>

  <div class="box-4-images  d-flex ">
    <img src="../../../assets/images/tatalogo.png" alt="">
    <img src="../../../assets/images/Mahindralogo.png" alt="">
    <img src="../../../assets/images/bmwlogo.jfif" alt="">
    <img src="../../../assets/images/mercedeslogio.png" alt="">
  </div>
</div>
