<div class="conatiner mt-5">
  <div class="header d-flex flex-column align-items-center">
    <h1 class="fs-1 fw-bold">Find your dream job now</h1>
    <p class="fs-4 fw-light">5 lakh+ jobs for you to explore</p>

    <input
      type="text"
      class="form-control mt-5 input-search fw-normal fs-5 px-5"
      id="search"
      placeholder="Enter skills/ designation/ companies"
    />
    <button class="btn btn-primary fs-5 button-search">search</button>
    <mat-icon class="search-icon">search</mat-icon>
    <div class="d-flex mt-5">
      <div class="box text-center">
        <p>Accenture <span class="text-primary">new</span></p>
      </div>
      <div class="box text-center">
        <p>Infosys <span class="text-primary">new</span></p>
      </div>
      <div class="box text-center">
        <p>Wipro <span class="text-primary">new</span></p>
      </div>
    </div>

    <div class="naukri-360 d-flex mt-5">
      <img class="naukri-img mx-5" src="../../../assets/images/nauk360.png" />
      <div
        class="d-flex flex-column align-items-center justify-content-center mx-5 ps-5"
      >
        <h1>Introducing Naukri 360</h1>
        <p>
          Discover powerful tools & tips that help you prepare for every stage
          of your career
        </p>
      </div>
      <div class="d-flex justify-content-center align-items-center ps-5">
        <button class="btn btn-primary mx-5">start exploring</button>
      </div>
    </div>
    <div class="conatainer remote-mnc mt-5 text-center">
      <div class="row mt-5 first-container">
        <div class="col d-flex align-items-center">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon>
          <span class="ms-2 mt-1">Remote</span>
        </div>
        <div class="col d-flex align-items-center">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon
          ><span class="ms-2 mt-1">MNC</span>
        </div>
        <div class="col d-flex align-items-center">
          <mat-icon> attach_money</mat-icon
          ><span class="ms-2 mt-1">Startup</span>
        </div>
        <div class="col d-flex align-items-center">
          <mat-icon>texture</mat-icon><span class="ms-2 mt-1">Fortune 500</span>
        </div>
        <div class="col d-flex align-items-center">
          <mat-icon>phone_forwarded</mat-icon
          ><span class="ms-2 mt-1">Marketing</span>
        </div>
        <div class="col d-flex align-items-center">
          <mat-icon>account_balance</mat-icon
          ><span class="ms-2 mt-1">Banking</span>
        </div>
      </div>
      <div class="row mt-1 second-container ms-5">
        <div class="col d-flex align-items-center">
          <mat-icon>people_outline</mat-icon><span class="ms-2 mt-1">HR</span>
        </div>
        <div class="col d-flex align-items-center">
          <mat-icon>school</mat-icon><span class="ms-2 mt-1">Fresher</span>
        </div>
        <div class="col d-flex align-items-center">
          <mat-icon> local_shipping</mat-icon
          ><span class="ms-2 mt-1">Supply chain</span>
        </div>
        <div class="col d-flex align-items-center">
          <mat-icon>sentiment_very_satisfied</mat-icon
          ><span class="ms-2 mt-1">Internship</span>
        </div>
        <div class="col d-flex align-items-center">
          <mat-icon> business</mat-icon><span class="ms-2 mt-1">Sales</span>
        </div>
      </div>
    </div>

    <div class="container top-hiring mt-5">
      <h1 class="text-center fw-bold mt-5">Top companies hiring now</h1>
      <div class="container d-flex justify-content-center">
        <mat-card class="mx-3 mt-3">
          <mat-card-title>MNCs ></mat-card-title>
          <p>1.9k+ are actively hiring now</p>
          <mat-card-content class="hiring-logos d-flex">
            <img src="../../../assets/images/tatalogo.png" alt="" />
            <img src="../../../assets/images/mercedeslogio.png" alt="" />
            <img src="../../../assets/images/Mahindralogo.png" alt="" />
            <img src="../../../assets/images/bmwlogo.jfif " alt="" />
          </mat-card-content>
        </mat-card>
        <mat-card class="mx-3 mt-3">
          <mat-card-title>MNCs ></mat-card-title>
          <p>1.9k+ are actively hiring now</p>
          <mat-card-content class="hiring-logos d-flex">
            <img src="../../../assets/images/tatalogo.png" alt="" />
            <img src="../../../assets/images/mercedeslogio.png" alt="" />
            <img src="../../../assets/images/Mahindralogo.png" alt="" />
            <img src="../../../assets/images/bmwlogo.jfif " alt="" />
          </mat-card-content>
        </mat-card>
        <mat-card class="mx-3 mt-3">
          <mat-card-title>MNCs ></mat-card-title>
          <p>1.9k+ are actively hiring now</p>
          <mat-card-content class="hiring-logos d-flex">
            <img src="../../../assets/images/tatalogo.png" alt="" />
            <img src="../../../assets/images/mercedeslogio.png" alt="" />
            <img src="../../../assets/images/Mahindralogo.png" alt="" />
            <img src="../../../assets/images/bmwlogo.jfif " alt="" />
          </mat-card-content>
        </mat-card>
        <mat-card class="mx-3 mt-3">
          <mat-card-title>MNCs ></mat-card-title>
          <p>1.9k+ are actively hiring now</p>
          <mat-card-content class="hiring-logos d-flex">
            <img src="../../../assets/images/tatalogo.png" alt="" />
            <img src="../../../assets/images/mercedeslogio.png" alt="" />
            <img src="../../../assets/images/Mahindralogo.png" alt="" />
            <img src="../../../assets/images/bmwlogo.jfif " alt="" />
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="hiring container mt-5 text-center">
      <h1 class="fw-bold">Featured companies actively hiring</h1>
      <!-- MOVING CARDS -->
      <div class="container d-flex mt-5">
        <mat-card class="example-card mx-5 card-3d">
          <img
            class="px-3 py-3"
            mat-card-image
            src="../../../assets/images/datamatics.gif"
            alt="Photo of a Shiba Inu"
          />
          <h3 class="fw-bold text-center">Datamatics</h3>
          <mat-card-content class="text-center">
            <p>Global and Digital solutions Technological Company</p>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button class="btn btn-outline-primary fw-bold">View Jobs</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card mx-5 card-3d">
          <img
            class="px-3 py-3"
            mat-card-image
            src="../../../assets/images/datamatics.gif"
            alt="Photo of a Shiba Inu"
          />
          <h3 class="fw-bold text-center">Datamatics</h3>
          <mat-card-content class="text-center">
            <p>Global and Digital solutions Technological Company</p>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button class="btn btn-outline-primary fw-bold">View Jobs</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card mx-5 card-3d">
          <img
            class="px-3 py-3"
            mat-card-image
            src="../../../assets/images/datamatics.gif"
            alt="Photo of a Shiba Inu"
          />
          <h3 class="fw-bold text-center">Datamatics</h3>
          <mat-card-content class="text-center">
            <p>Global and Digital solutions Technological Company</p>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button class="btn btn-outline-primary fw-bold">View Jobs</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card mx-5 card-3d">
          <img
            class="px-3 py-3"
            mat-card-image
            src="../../../assets/images/datamatics.gif"
            alt="Photo of a Shiba Inu"
          />
          <h3 class="fw-bold text-center">Datamatics</h3>
          <mat-card-content class="text-center">
            <p>Global and Digital solutions Technological Company</p>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button class="btn btn-outline-primary fw-bold">View Jobs</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card mx-5 card-3d">
          <img
            class="px-3 py-3"
            mat-card-image
            src="../../../assets/images/datamatics.gif"
            alt="Photo of a Shiba Inu"
          />
          <h3 class="fw-bold text-center">Datamatics</h3>
          <mat-card-content class="text-center">
            <p>Global and Digital solutions Technological Company</p>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button class="btn btn-outline-primary fw-bold">View Jobs</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <!-- end here -->
    </div>
 
    <button class="viewall-companies btn btn-outline-primary mt-5 fs-5">
      View All Companies
    </button>
  </div>
  </div>
  <div class="container">

    <hr>
  </div>
 