 <div class="container">
    <mat-spinner *ngIf="loader" class="spinner"></mat-spinner>
    <form  [formGroup]="signupForm"  (ngSubmit)="submit()" *ngIf="!loader" >
        <h1 class="text-center" style="color: green;">User {{login?'Login':'SignUp'}}</h1>
        <div class="container fields">
            <mat-form-field  class="mt-3" >
                <mat-label class="label">Email</mat-label>
                <input type="email" matInput  placeholder="email" [formControlName]="'email'" class="i-field">
                <mat-error>Please enter a correct email address</mat-error>
            </mat-form-field>
        </div>
        <div class="container fields">
            <mat-form-field  class="mt-3">
                <mat-label class="label">password</mat-label>
                <input type="password" matInput  placeholder="password" [formControlName]="'password'" class="i-field">
                <mat-error>Please enter a valid email address</mat-error>
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button color="primary" [disabled]="signupForm.invalid" class="d-flex mx-auto">submit</button>
        </div>
        <div class="mt-3 text-center">
                <p *ngIf="login">Don't have an account ?<strong style="color: red;" (click)="loggedIn()">SignUp here</strong></p>
                <p *ngIf="!login">Already have an Account ?<strong style="color: red;" (click)="loggedIn()">Login here</strong></p>
        </div>

    </form>
 </div>