<mat-spinner *ngIf="loadspinner"></mat-spinner>

<div class="clear" *ngIf="jobsProfileData.length==0">
  Nothing to display
</div>

<div *ngIf="jobsProfileData.length!=0">



<div class="jobsPosts" *ngFor="let item of jobsProfileData">
  <mat-card *ngIf="!loadspinner" class="job-profile-card mt-5">
    <div class="container d-flex">
      <mat-card-header class="align-items-center">
        <div mat-card-avatar class="company-logo mb-4">
          <img src="{{ item.companyLogo }}" alt="Tech Company logo" />
        </div>
        <mat-card-title class="ms-5"> </mat-card-title>
        <mat-card-subtitle class="ms-5"> </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Role:</strong> {{ item.role }}</p>
        <p><strong>Experience:</strong> {{ item.experience }}</p>
        <p><strong>Cost to Company:</strong> {{ item.costToCompany }}</p>
        <p><strong>Location:</strong> {{ item.openingLocation }}</p>
        <p><strong>Openings:</strong> {{ item.openings }}</p>
        <p><strong>Job Description:</strong> {{ item.jobDescription }}</p>
        <p><strong>Highest Education:</strong>{{ item.higestEducation }}</p>
        <p><strong>Employment Type:</strong> {{ item.employementType }}</p>
        <p><strong>Industry Type:</strong> {{ item.industryType }}</p>
      </mat-card-content>

      <mat-card-content>
        <p><strong>Address:</strong></p>
        <ul>
          <li *ngFor="let addr of item.address">
            {{ addr.streetNumber }}, {{ addr.city }}, {{ addr.state }} -
            {{ addr.pincode }}
          </li>
        </ul>

        <p><strong>Skills Required:</strong></p>
        <ul class="skills-list">
          <li *ngFor="let skill of item.skills" class="ms-1 mt-1">
            {{ skill }}
          </li>
        </ul>
      </mat-card-content>
      <div class="buttons d-flex align-items-center">
        <button
          mat-stroked-button
          color="primary"
          style="width: 90px"
          class="ms-5"
        >
          update
        </button>
       
        
        <button mat-stroked-button class="ms-3" (click)="openDescriptionModal(item.detailDescription)">description</button>
        <button mat-raised-button color="primary" (click)="deleteJobModal(item.id)">deletemodal</button>
      </div>

    </div>
  </mat-card>
</div>

</div>

<div class="addmore container"></div>
<button mat-stroked-button color="accent" (click)="openPopUpModal()">
  Post more jobs
</button>


<ng-template #deleteJobPost >
  <h2 mat-dialog-title style="color: red;">Warning!!!</h2>
<mat-dialog-content>
  <strong style="color: red;"><h2>Are you sure you want to delete  this jobs opening</h2></strong>
  <button mat-dialog-close>close</button>
  <button     [mat-dialog-close]="true">Delete</button>
</mat-dialog-content>

</ng-template>